/* LOCAL */
body { /*Local background*/ /*can also apply on other sites*/
    background-color: #242424 !important;
    color: white !important; /*font color FACEBOOK */
}
input{
    color:white !important;
    background-color: #242424 !important;
}

/* ALIEXPRESS */
.top-lighthouse { /*top background color*/
    border-bottom: 1px dashed orange !important;
    background-color: #a1a1a1 !important;
}
.nav-global .ng-item { /*top lighthouse right border line*/
    border-right: 1px solid #a1a1a1 !important;
}
.nav-global .ng-item a { /*top font color*/
    color: #000 !important;
}
.nav-global .ng-sub-title, .nav-global .ng-switcher .switcher-info { /*top font color help*/
    color: #000 !important;
}
.nav-global .ng-sub-list li a:hover { /*help hover*/
    background: red !important;
    color: purple !important;
}
#broad-category { /*background*/
    background-color: #a1a1a1 !important;
}
.header { /*header*/
    background-color: #a1a1a1 !important;
    border-bottom: 1px dashed orange !important;
}
.site-footer {
    background-color: #a1a1a1 !important;
}
.searchbar-form .search-key-box input { /*search*/
    background-color: #a1a1a1 !important;
}
/* AMAZON */


/* GITHUB */
.user-profile-nav { /*Profile navigation*/
    background-color: #a1a1a1 !important;
}
.form-control, .form-select { /*Search*/
    background-color: #f1f8ff !important;
}
.blankslate { /*DMCA message*/
    background-color: #a1a1a1 !important;
}
.repohead.experiment-repo-nav { /*user&repository bar*/
    background-color: #c5c5c5 !important;
}
.btn { /*buttons*/
    color: black !important;
    background-color: #f1f8ff !important;
    background-image: linear-gradient(-180deg, #f1f8ff 0%, #f1f8ff 90%) !important;
}
.bg-white { /*date under contribution activity*/
    background-color: #a1a1a1 !important;
}
h3 .bg-white { /*override*/
    background-color: #a1a1a1 !important;
}
h3.profile-timeline-month-heading, .bg-white, .d-inline-block, .h6, .pr-2, .py-1{ /*override*/
    background-color: #a1a1a1 !important;
}
.Header .header-search-scope { /*"This Repository" next to search*/
    color: rgba(0, 0, 0, 1.00) !important;
}
.Header .header-search-wrapper {/*Search box font*/
    color: black !important;
}
.octofication .broadcast-icon-mask { /*radio tower icon mask front page*/
    background-color: #a1a1a1 !important;
}

/* FACEBOOK MESSENGER */
._4sp8 { /*Body background*/
    background-color: #242424 !important;
}
._hh7 { /*Baloon received background*/
    background-color: #3e3e3e !important;
    /*Baloon received text*/
    color: white !important;
}
._3m31:nth-of-type(2n+1) { /*between pictures*/
    border-right: 2px solid #242424 !important;
}
._3m31:nth-of-type(2n+2) { /*between pictures*/
    border-right: 2px solid #242424 !important;
}
._3m31:nth-of-type(2n+3) { /*between pictures*/
    border-right: 2px solid #242424 !important;
}
._3m31:nth-of-type(2n) { /*between pictures*/
    border-right: 2px solid #242424 !important;
}
._3m31:nth-of-type(3n) { /*between pictures*/
    border-right: 2px solid #242424 !important;
}
._3m31:nth-of-type(3n+1) { /*between pictures*/
    border-right: 2px solid #242424 !important;
}
._3m31:nth-of-type(3n+2) { /*between pictures*/
    border-right: 2px solid #242424 !important;
    border-left: 2px solid #242424 !important;
}
._3m31:nth-of-type(3n+3) { /*between pictures*/
    border-right: 2px solid #242424 !important;
    border-left: 2px solid #242424 !important;
}
._3oh-{
    color: white !important; /*chat name*/
}
._1tqi{
    color: white !important; /*top*/
}
._3eus{
    color: white !important; /*active x ago*/
}
._3szq {
    color: white !important; /*left hand links top*/
}
._1lj0{ /*info left top*/
    color: white !important;
}
input, ._58al{ /*search*/
    color: white !important;
    }
._2v6o{ /*active on top*/
    color: white !important;
    }
._1ht6 {
    color: white !important;
}
._1ht7{
    color: white !important;
}
._58al{
    color: white !important;
}
._2f5n { /*tenor keyboard background*/
    background-color: #242424 !important;
}
._2f5n ._29ey { /*tenor text*/
    color: white !important;
}
._558b ._54ng { /*setting button top left popup background color*/
    background-color: #242424 !important;
}
._53il ._558b+._53io { /*hide triangle*/
    height: 0px !important;
    top: 0px !important;
    width: 0px !important;
}
._2i-c ._54nf ._54nh {
    color: white !important; /*settings menu white color*/
}
._54ne:hover{
    background-color: #3e3e3e !important;
}
._54ne{
    background-color: #3e3e3e !important;
}
._2i-{
    background-color: #3e3e3e !important;
}
._2i-:hover{
    background-color: #3e3e3e !important;
}
._2i-c ._54ne ._21-c ._54ne ._54nc ._21- ._54ne{
    background-color: #3e3e3e !important;
}
._2i-c ._54ne ._54nh{
    background-color: #3e3e3e !important;
}
._2y8z {
    color: white !important; /*"To"*/
}
._53ij { /*gif popup*/
    background-color: #242424 !important;
}
/*messenger-games*/
._3rh0 ._26ly {background-color: #242424!important;}
._4lh7 {color: white !important;background-color: #242424!important;margin: 0px 0px 0px 0px !important;}/*text*/
._4lh2 {background-color: #242424!important;}
._4lha ._4lhb {color: white!important;}
._2pgc {
    background-color: #242424 !important;
    border: 1px solid #242424 !important;
}
._5r8a._5r8b {
    background: #242424 !important;
}
._1ht3 ._1htf {
    color: white!important; /*unseen */
}
/*messenger image fix*/
._4rv6 {
    background-image: url(https://i.imgur.com/dL06MTw.png) !important;
    opacity: 1.0 !important;
}
a._4ce_ {
    background-image: url(https://i.imgur.com/dL06MTw.png) !important;
    opacity: 1.0 !important;
}
/* FACEBOOK */
._5vb_, ._5vb_ #contentCol {/*Body background*/
    background-color: #242424 !important;
}
._2s1x ._2s1y { /*Top "blue" header*/
    background-color: #3e3e3e !important;
}
._4-u8 { /*all panels*/
    background-color: #242424 !important; 
}
._3ubp { /*make a post top*/
    background-color: #242424 !important;
    border-bottom: 1px solid #242424 !important;
}
._sg1 { /*make a post top background*/
    background-color: #242424 !important;
    border-left: 1px solid #242424 !important;
}
/*#facebook ._-kb span { /*most main colors text
    color: white !important;
}*/
.fbReminders .fbRemindersStory .fbRemindersTitle {  /*reminders text*/
    color: white !important;
}
._6m2 { /*Post body background*/
    background-color: #242424 !important;
}
/*a {
    color: #ffffff !important;
}*/
._1g5v+._4arz { /*Likes background color*/
    background: #242424 !important;
}
._ipo { /*x comments x shares background color*/
    background: #242424 !important;
}
._5v3q .n_11h-y_7rwe .t_11h-y_f0d- { /*"Sponsored" text bright red to pop*/
    color: #e80000 !important;
}
._517h, ._59pe:focus, ._59pe:hover { /*Learn More button on Sponsored post*/
    background-color: #242424 !important;
}
._517h:hover { /*Learn More button hover*/
    background-color: #3e3e3e !important;
}
._3-a6._1blz._5vsj .UFIRow, ._3-a6._1blz._5vsj.UFIContainer .UFIReplyList .UFIRow, ._3-a6._1blz._5vsj._5vsj._5vsj {
    background-color: #242424 !important;
}
._37uu ._610i ._4x9_, ._37uu ._610i._a7s ._524d a, ._37uu ._610i._a7s ._50u4, ._37uu ._610i ._1ysv, ._1-26 ._4x9_ {
    color: #ffffff !important; /*like text*/
}
html ._4lh, ._4lh .fbTimelineTimePeriod, ._4lh .fbTimelineSectionExpandPager .uiMorePagerLoader, ._4lh .fbTimelineCapsule li.anchorUnit:last-child, ._4lh .fbTimelineSectionLoading .loadingIndicator {
    background-color: #242424 !important; /*user page middle background color*/
}
.fbTimelineSection {
    background: #242424 !important; /*user page menu*/
}
html ._6-d .fbTimelineSection { /*user page border white*/
    border: 1px solid #ffffff !important;
    border-radius: 0 0 3px 3px;
}
._50f9 {
    color: white !important; /*font color intro user profile*/
}
.fbTimelineUnit {
    color: #ffffff !important; /*font color intro user profile*/
}
html ._4lh ._1zw6 { /*font color intro info user profile*/
    color: #ffffff !important;
}
._513x { /*user profile arrow hide*/
    width: 0px !important;
}
._bui ._5afe { /*main sidepanel text*/
    border-bottom: 1px solid #fff;
    color: #ffffff !important;
}
._5vb_, ._5vb_ #contentCol { /*font color main*/
    color: white !important;
}
._16ve {
    border-top: 1px solid #545454 !important; /*border*/
}
._3z2 { /*event background*/
    background-color: #242424 !important;
}
._5a5j { /*event date background*/
    background: #242424 !important;
}
.fbNub._50mz .fbNubFlyoutBody { /*facebook chat popup window background*/
    background-color: #242424 !important;
}
._552m::-webkit-input-placeholder, .fbNub._50mz ._1p1t {/*chat color text*/
    color: #ffffff !important;
}
.fbNub._50mz .fbNubFlyoutFooter { /*chat color bottom*/
    background: #242424 !important;
}
.fbNub._50mz .chatAttachmentShelf { /*chat bottom*/
    background-color: #242424 !important;
    border-top: 1px solid #242424 !important;
}
element.style { /*ALL COLORS #TODO*/
    color: rgb(60, 255, 0) !important;
}
.fbNub._50mz.highlightTab .fbNubButton, .fbNub._50mz .fbNubFlyoutTitlebar { /*color chat name*/
    background: #3e3e3e !important;
}
.fbNub._50mz .titlebar .titlebarText, .fbNub._50mz.highlightTab .fbNubButton .name, .fbNub._50mz.highlightTab .fbNubButton, .fbNub._50mz.focusedTab .fbNubButton .name {
    color: white !important; /*chat name color*/
}
._3-a6._1blz .UFICommentActorAndBody, ._o0o ._3-a6._1blz .UFICommentActorAndBody {
    background-color: #3e3e3e !important; /*comment bubble post background*/
}
div._4-i2 { /*like popup*/
    background-color: #242424!important;
}
.UFICommentReactionsBling ._3emk {
    border-right: 2px solid #242424 !important; /*comment like border*/
}
._ipn {
    color: white !important; /*comment like border number*/
}
._3-a6 ._10la ._10lo {
    background: #3e3e3e !important;
}
._5vsj._5vsj._5vsj {
    color: white !important; /*comment bubble post text*/
}
._4-h8 { /*pointer "make post" hide triangle*/
    border-bottom: 0px solid red !important;
}
._4-h8::after {
    border-bottom: 0px solid red !important; /*hide triangle*/
}
._2yq._2ltu ._4-u2::before {
    border: 1px solid #3e3e3e !important; /*border around posts?*/
}
._58cn ._58cl {
    color: red !important; /*#*/
}
._2s1x ._2s1y {
    background-color: #4267b2;
    border-bottom: 1px solid red!important; /*border under main bar*/
}
._585- {
    background-color: #fff;
    border: 1px solid red !important; /*border around search*/
}
._5va1 {
    border: 1px solid red !important; /*border around shared posts*/
}
._5pr2.fbChatSidebar { /*chat border left*/
    border-left-color: red !important;
    box-shadow: inset 2px 0 2px -2px red !important;
}
.fbChatSidebar {
    background-color: #242424 !important; /*chat colors*/
}
._4fzb {
    border: 1px solid #3e3e3e !important;
}
._4mq3 .fbNubButton {
    background-color: #f6f7f9;
    border: 1px solid red !important; /*chat small button border*/
}
._4mq3 .fbNubFlyoutTitlebar .titlebarLabel {
    color: #fff !important; /*text*/
    background-color: #3e3e3e !important;
}
._4mq3 .uiScrollableArea {
    background-color: #242424 !important; /*more contancts in chat background*/
}
._4mq3 ._55ln {
    background-color: #242424 !important; /*chat background color*/
}
._5iwm ._58al {
    color: white !important;
    background-color: #242424 !important;/*search bar*/
}
.fbChatTypeahead ._4p-s {
    background-color: #242424 !important; /*search bar results*/
}
.fbNubFlyoutHeader, .fbNubFlyoutBody, .fbNubFlyoutFooter, .fbNubFlyoutAttachments {
    background-color: #242424 !important; /*chat border pixels cosmetic*/
}
._55oc {
    color: #ffffff !important; /*more contacts in chat text color*/
}
._4fzb ._5pco, ._4fzb ._5pco p {
    color: #ffffff !important; /*shared post text color*/
}
._225b {
    color: white !important; /*chat searching text business*/
}
._364g {
    color: white !important; /*chat searching text contacts*/
}
._3q34 {
    color: white !important;/*white text again*/
}
._3q35 {
    color: white !important;/*white text again*/
}
._3-a6._1blz .UFILikeSentence ._4ar- ._3emk, ._3-a6._1blz .UFICommentReactionsBling ._3emk {
    background: #242424 !important; /*like border*/
}
._55ln:focus, ._55ln:hover, li.selected ._55ln { /*TODO*/
    background-color: #3e3e3e !important;
    box-shadow: 1px 0 0 #3e3e3e inset !important;
}
._55ln{
    color: white !important;
}
._6590 ._5dwa ._38my, ._u9q ._5dwa ._38my {
    color: #fff !important; /*text community/about on page*/
}
._585- {
    background-color: #242424 !important;
}
._4d3w._u77 ._3t09 {
    background: #242424 !important;
}
._4d3w._u77 .fbPhotosSnowboxFeedbackInput {
    background-color: #242424 !important;
}
._4d3w._u77 .fbPhotosSnowboxFeedbackInput ._2r5f .UFIRow {
    background-color: #242424 !important;
}
._fmi { /*comment box input*/
    background-color: #242424 !important;
    border: 1px solid #242424 !important;
}
._5vsj .UFIRow {
    background-color: #242424 !important;
}
.fbReminders .fbRemindersStory:hover {
    background-color: #3e3e3e !important;
}
._3m75 .sideNavItem ._5afe::after {
    background-color: #3e3e3e !important;
    border: 1px solid #242424 !important
}

/*cancer greys*/
._ei_{background:#242424!important;} /*bottom post*/
._57d8 {background-color: #242424 !important;}
._m_1{background:#3e3e3e !important;} /*Buttons main*/
._645l{background-color:#3e3e3e !important;} /*notifications see more*/
.seeMore{background:#3e3e3e !important;}
._3emk{background:#242424 !important;} /*reaction border icons*/
.UFILikeSentence ._4ar- ._3emk{background:#242424 !important;} /*reaction*/
/*testing   This makes my chrome unstable for some reason..*/

._4h7j{background-color: teal !important;}
._26bz{background-color:green !important;}
._645l{background-color:red !important;}

a{
    color: red !important;
}

.UFICommentReactionsBling ._3emk{background:purple !important;}

/*Useless
._3ubp{background-color:red !important;}
._sg1{background-color:red !important;}
._5vsj ._1g5v+._4arz{background:red !important;}
._sig{background-color:red !important;}
._26y3{background-color:red !important;}
._o1t{background-color:red !important;}
._awf{background:red !important;}
*/

/*Facebook buttons: #F6F7F9*/
._1osa input {
    background-color: red !important;
}
/* GOOGLE SEARCH */
.sfbgg { /*top border*/
    background-color: #a1a1a1 !important;
}
._Fmb, ._Fmb:hover, ._Fmb.selected, ._Fmb.selected:hover { /*icon next to link*/
    background-color: #a1a1a1 !important;
}
.s .st em, .st.s.std em { /*highlighted word*/
    color: black !important;
}
#appbar { 
    background: #a1a1a1 !important;
}
#hdtbSum { /*navigation menu*/
    background: #a1a1a1 !important;
}
g-inner-card { /*"Top stories"*/
    background-color: #a1a1a1 !important;
}
#hdtb { /*Line between navigation menu and results*/
    border-bottom: 1px solid #a1a1a1 !important;
}
._qgo { /*people also ask*/
    background-color: #a1a1a1 !important;
    border-top: 1px solid #a1a1a1 !important; /*line above questions*/
}
.sbib_a { /*search input*/
    background: #a1a1a1 !important;
}
.sbico-c { /*search icon*/
    background: #a1a1a1 !important;
}
.sbibod {
    background-color: #a1a1a1 !important;
}
a._sWr { /*search dropdown feedback background*/
    padding: 0 5px;
    background: #a1a1a1 !important;
}
a.duf3 { /*dropdown feedback text*/
    color: black !important;
}
#fbar { /*footer + line*/
    background: #a1a1a1 !important;
    border-top: 1px solid #a1a1a1 !important;
}
._HR { /*footer location color*/
    color: #000 !important;
}
._Ubu { /*footer line*/
    border-bottom: 1px solid #a1a1a1 !important;
}
.ktf { /*search result search*/
    background-color: #a1a1a1 !important;
}
.ab_button {
    background-color: #a1a1a1 !important;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#a1a1a1),to(#a1a1a1)) !important;
    background-image: -webkit-linear-gradient(top,#a1a1a1,#a1a1a1) !important;
}
._zF, .mslg .ab_button, .mslg .kpgrb {
    border: 1px solid grey !important;
    border-top: 1px solid grey !important;
    z-index: 1;
}
input { /*search result result border*/
    border-color: grey !important;
}